.red {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    left: 200px;
    background-color: red;
    display: inline-block;
    position: relative;
}

.yellow {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    right: 100px;
    background-color: yellow;
    display: inline-block;
    position: relative;
}

.blue {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    right: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
}